.table-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.add-item {
    display: inline-block;
    padding: 4px 9px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
}

.add-item:hover {
    background-color: #3e8e41
}

form input,
select,
textarea {
    margin: 0 !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.item-content {
    margin-top: 20px;
}

.item-form {
    display: flex;
    width: 100%;
    height: 490px;
}

.image-part {
    width: 60%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.image-upload-view {
    width: 100%;
    height: 80%;
    border: 1px dashed #c7c7c7;

}

.image-upload-one span {
    display: none;
    position: absolute;
    top: auto;
    left: auto;
}

.image-upload-one:hover {
    background-color: #c7c7c7;
}

.image-upload-one:hover span {
    display: block;
}

.image-upload {
    height: 20%;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}

.image-upload-one {
    width: 23%;
    border: 1px dashed #c7c7c7;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-img,
.upload-img-basic {
    width: 100%;
    height: 100%;
}

.upload-img:hover {
    opacity: 0.2;
}

.text-part {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    flex-direction: column;
}

.text-part-one label {
    margin-bottom: 5px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 750px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* The Close Button */
.close {
    position: absolute;
    top: 0;
    right: 5px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    margin-bottom: 0px !important;
    box-sizing: content-box;
}

select,
textarea {
    margin-top: 10px;
    width: 100%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row_detail td:last-child {
    text-align: left;
}

tr {
    border-bottom: 1px solid #9b9b9b;
}

td {
    background-color: #e3e3e3;
}

td:last-child {
    text-align: right;
}

.slideshow-container {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

/* Next & previous buttons */
.slideshow-container .prev,
.slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container .prev:hover,
.slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.detail_container {
    display: flex;
    position: relative;
}

.square_btn {
    position: absolute;
    bottom: 10px;
    right: 30px;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
    border: 0px;
}

.square_btn:active {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.detail_icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.pro_detail {
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.pro_detail label {
    font-size: 15px;
    color: #4e4e4e;
    font-weight: bold;
    margin-bottom: 5px;
}

.pro_detail span {
    font-size: 13px;
    color: #4e4e4e;
    margin-bottom: 5px;
}

.pro_title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px !important;
    color: black !important;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .slideshow-container .prev,
    .slideshow-container .next,
    .slideshow-container .text {
        font-size: 11px
    }
}

@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


@media screen and (max-width: 850px) {
    .modal-content {
        width: 330px;
        height: 640px;
    }

    .item-form {
        flex-direction: column;
        height: 530px;
    }

    .image-part {
        width: 100%;
        height: 320px;
    }

    .text-part {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .text-part-one {
        width: 45%;
    }

    .text-part-one label {
        margin-bottom: 0px;
    }
}