<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Administrator</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/pagination.css">
    <link href="/css/style.css" type="text/css" rel="stylesheet" id="bootstrap-css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!--added a cdn link by searching font awesome4 cdn and getting this link from https://www.bootstrapcdn.com/fontawesome/ this url*/-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

</head>

<body>
    <!--<div class ="header">-->
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/admin"><img src="/images/logo.png" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/admin">Home</a></li>
                    <li><a href="/admin/products">Products</a></li>
                    <li><a href="/">Account</a></li>

                </ul>
            </nav>
            <!-- <a href="cart.html"><img src="/images/cart.png" width="30px" height="30px"></a> -->
            <img src="/images/menu.png" class="menu-icon" onClick="menutoggle()">
        </div>

    </div>
    <!--</div>-->


    <!------------------------------ cart items details------------------------------>

    <div class="small-container cart-page">
        <div class="table-title">
            <h1>Orders</h1>
            <button id="modal-btn" class="add-item">Add items</button>
        </div>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Product</th>
                    <!-- <th>Quantity</th> -->
                    <th>Username</th>
                    <!-- <th>User Address</th> -->
                    <!-- <th>Payment Method</th> -->
                    <!-- <th>Subtotal</th> -->
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="tb_row">
                    <td>
                        <div class="cart-info">
                            <img src="/images/buy-1.jpg">
                            <div>
                                <p>Red Printed T-Shirt</p>
                                <small>Price: $50.00</small><br>
                            </div>
                        </div>
                    </td>
                    <!-- <td>2</td> -->
                    <td>User1</td>
                    <!-- <td>Address1</td> -->
                    <!-- <td>Paypal</td> -->
                    <!-- <td>$100.00</td> -->
                    <td>
                        Incomplete
                        <!-- <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label> -->
                    </td>
                    <td>
                        <i style='font-size:24px' class='fas detail_icon'>&#xf107;</i>
                    </td>
                </tr>
                <tr class="row_detail" style="display: none;">
                    <td colspan="5">
                        <div class="detail_container">
                            <div class="pro_detail">
                                <label class="pro_title">Product Info</label>
                                <label>Name:</label>
                                <span>Red Printed T-Shirt</span>
                                <label>Type:</label>
                                <span>Sneaker</span>
                                <label>Cost:</label>
                                <span>$50</span>
                                <label>Quantity:</label>
                                <span>2</span>
                                <label>Detail:</label>
                                <span>This is sneaker shoes</span>
                                <label>Subtotal:</label>
                                <span>$100</span>
                            </div>
                            <div class="pro_detail">
                                <label class="pro_title">User Info</label>
                                <label>Username:</label>
                                <span>Samson</span>
                                <label>Address:</label>
                                <span>Paris, France</span>
                                <label>Payment Type:</label>
                                <span>Paypal</span>
                            </div>
                            <div class="pro_detail">
                                <label class="pro_title">Order Info</label>
                                <label>Status:</label>
                                <span>Complete</span>
                                <label>Created Date:</label>
                                <span>2022-07-11</span>
                                <label>Completed Date:</label>
                                <span>2022-07-11</span>
                            </div>
                            <button class="square_btn">Complete</button>
                        </div>

                    </td>
                </tr>
                <tr class="tb_row">
                    <td>
                        <div class="cart-info">
                            <img src="/images/buy-1.jpg">
                            <div>
                                <p>Red Printed T-Shirt</p>
                                <small>Price: $50.00</small><br>
                            </div>
                        </div>
                    </td>
                    <!-- <td>2</td> -->
                    <td>User1</td>
                    <!-- <td>Address1</td> -->
                    <!-- <td>Paypal</td> -->
                    <!-- <td>$100.00</td> -->
                    <td>
                        Incomplete
                        <!-- <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label> -->
                    </td>
                    <td>
                        <i style='font-size:24px' class='fas detail_icon'>&#xf107;</i>
                    </td>
                </tr>
                <tr class="row_detail" style="display: none;">
                    <td colspan="5">
                        <div class="detail_container">
                            <div class="pro_detail">
                                <label class="pro_title">Product Info</label>
                                <label>Name:</label>
                                <span>Red Printed T-Shirt</span>
                                <label>Type:</label>
                                <span>Sneaker</span>
                                <label>Cost:</label>
                                <span>$50</span>
                                <label>Quantity:</label>
                                <span>2</span>
                                <label>Detail:</label>
                                <span>This is sneaker shoes</span>
                                <label>Subtotal:</label>
                                <span>$100</span>
                            </div>
                            <div class="pro_detail">
                                <label class="pro_title">User Info</label>
                                <label>Username:</label>
                                <span>Samson</span>
                                <label>Address:</label>
                                <span>Paris, France</span>
                                <label>Payment Type:</label>
                                <span>Paypal</span>
                            </div>
                            <div class="pro_detail">
                                <label class="pro_title">Order Info</label>
                                <label>Status:</label>
                                <span>Complete</span>
                                <label>Created Date:</label>
                                <span>2022-07-11</span>
                                <label>Completed Date:</label>
                                <span>2022-07-11</span>
                            </div>
                            <button class="square_btn">Complete</button>
                        </div>

                    </td>
                </tr>
                <tr class="tb_row">
                    <td>
                        <div class="cart-info">
                            <img src="/images/buy-1.jpg">
                            <div>
                                <p>Red Printed T-Shirt</p>
                                <small>Price: $50.00</small><br>
                            </div>
                        </div>
                    </td>
                    <!-- <td>2</td> -->
                    <td>User1</td>
                    <!-- <td>Address1</td> -->
                    <!-- <td>Paypal</td> -->
                    <!-- <td>$100.00</td> -->
                    <td>
                        Incomplete
                        <!-- <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label> -->
                    </td>
                    <td>
                        <i style='font-size:24px' class='fas detail_icon'>&#xf107;</i>
                    </td>
                </tr>
                <tr class="row_detail" style="display: none;">
                    <td colspan="5">
                        <div class="detail_container">
                            <div class="pro_detail">
                                <label class="pro_title">Product Info</label>
                                <label>Name:</label>
                                <span>Red Printed T-Shirt</span>
                                <label>Type:</label>
                                <span>Sneaker</span>
                                <label>Cost:</label>
                                <span>$50</span>
                                <label>Quantity:</label>
                                <span>2</span>
                                <label>Detail:</label>
                                <span>This is sneaker shoes</span>
                                <label>Subtotal:</label>
                                <span>$100</span>
                            </div>
                            <div class="pro_detail">
                                <label class="pro_title">User Info</label>
                                <label>Username:</label>
                                <span>Samson</span>
                                <label>Address:</label>
                                <span>Paris, France</span>
                                <label>Payment Type:</label>
                                <span>Paypal</span>
                            </div>
                            <div class="pro_detail">
                                <label class="pro_title">Order Info</label>
                                <label>Status:</label>
                                <span>Complete</span>
                                <label>Created Date:</label>
                                <span>2022-07-11</span>
                                <label>Completed Date:</label>
                                <span>2022-07-11</span>
                            </div>
                            <button class="square_btn">Complete</button>
                        </div>

                    </td>
                </tr>
                <tr class="tb_row">
                    <td>
                        <div class="cart-info">
                            <img src="/images/buy-1.jpg">
                            <div>
                                <p>Red Printed T-Shirt</p>
                                <small>Price: $50.00</small><br>
                            </div>
                        </div>
                    </td>
                    <!-- <td>2</td> -->
                    <td>User1</td>
                    <!-- <td>Address1</td> -->
                    <!-- <td>Paypal</td> -->
                    <!-- <td>$100.00</td> -->
                    <td>
                        Incomplete
                        <!-- <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label> -->
                    </td>
                    <td>
                        <i style='font-size:24px' class='fas detail_icon'>&#xf107;</i>
                    </td>
                </tr>
                <tr class="row_detail" style="display: none;">
                    <td colspan="5">
                        <div class="detail_container">
                            <div class="pro_detail">
                                <label class="pro_title">Product Info</label>
                                <label>Name:</label>
                                <span>Red Printed T-Shirt</span>
                                <label>Type:</label>
                                <span>Sneaker</span>
                                <label>Cost:</label>
                                <span>$50</span>
                                <label>Quantity:</label>
                                <span>2</span>
                                <label>Detail:</label>
                                <span>This is sneaker shoes</span>
                                <label>Subtotal:</label>
                                <span>$100</span>
                            </div>
                            <div class="pro_detail">
                                <label class="pro_title">User Info</label>
                                <label>Username:</label>
                                <span>Samson</span>
                                <label>Address:</label>
                                <span>Paris, France</span>
                                <label>Payment Type:</label>
                                <span>Paypal</span>
                            </div>
                            <div class="pro_detail">
                                <label class="pro_title">Order Info</label>
                                <label>Status:</label>
                                <span>Complete</span>
                                <label>Created Date:</label>
                                <span>2022-07-11</span>
                                <label>Completed Date:</label>
                                <span>2022-07-11</span>
                            </div>
                            <button class="square_btn">Complete</button>
                        </div>

                    </td>
                </tr>
                <tr class="tb_row">
                    <td>
                        <div class="cart-info">
                            <img src="/images/buy-1.jpg">
                            <div>
                                <p>Red Printed T-Shirt</p>
                                <small>Price: $50.00</small><br>
                            </div>
                        </div>
                    </td>
                    <!-- <td>2</td> -->
                    <td>User1</td>
                    <!-- <td>Address1</td> -->
                    <!-- <td>Paypal</td> -->
                    <!-- <td>$100.00</td> -->
                    <td>
                        Incomplete
                        <!-- <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label> -->
                    </td>
                    <td>
                        <i style='font-size:24px' class='fas detail_icon'>&#xf107;</i>
                    </td>
                </tr>
                <tr class="row_detail" style="display: none;">
                    <td colspan="5">
                        <div class="detail_container">
                            <div class="pro_detail">
                                <label class="pro_title">Product Info</label>
                                <label>Name:</label>
                                <span>Red Printed T-Shirt</span>
                                <label>Type:</label>
                                <span>Sneaker</span>
                                <label>Cost:</label>
                                <span>$50</span>
                                <label>Quantity:</label>
                                <span>2</span>
                                <label>Detail:</label>
                                <span>This is sneaker shoes</span>
                                <label>Subtotal:</label>
                                <span>$100</span>
                            </div>
                            <div class="pro_detail">
                                <label class="pro_title">User Info</label>
                                <label>Username:</label>
                                <span>Samson</span>
                                <label>Address:</label>
                                <span>Paris, France</span>
                                <label>Payment Type:</label>
                                <span>Paypal</span>
                            </div>
                            <div class="pro_detail">
                                <label class="pro_title">Order Info</label>
                                <label>Status:</label>
                                <span>Complete</span>
                                <label>Created Date:</label>
                                <span>2022-07-11</span>
                                <label>Completed Date:</label>
                                <span>2022-07-11</span>
                            </div>
                            <button class="square_btn">Complete</button>
                        </div>

                    </td>
                </tr>

            </tbody>


        </table>
        <div class="pagination" id="order_pagination"></div>

    </div>

    <!-- Item Add Modal -->
    <div id="item-modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h1>New item</h1>
            <span class="close">&times;</span>
            <div class="item-content">
                <form class="item-form" id="form">
                    <div class="image-part">
                        <div class="image-upload-view">
                            <div class="slideshow-container">
                                <img src="/asset/images/default.jpg" style="width:100%" class="upload-img-basic fade">
                                <img src="/asset/images/default.jpg" style="width:100%" class="upload-img-basic fade">
                                <img src="/asset/images/default.jpg" style="width:100%" class="upload-img-basic fade">
                                <img src="/asset/images/default.jpg" style="width:100%" class="upload-img-basic fade">
                                <a class="prev" onclick="plusSlides(-1)">❮</a>
                                <a class="next" onclick="plusSlides(1)">❯</a>
                            </div>
                            <br>
                            <!-- <img src="/asset/images/default.jpg" id="basicImg" class="upload-img-basic"> -->
                        </div>
                        <div class="image-upload">
                            <div class="image-upload-one" id="custom_upload1">
                                <span>Click here!</span>
                                <input type="file" id="file_input1" hidden>
                                <img src="/asset/images/default.jpg" id="img1" class="upload-img">
                            </div>
                            <div class="image-upload-one" id="custom_upload2">
                                <span>Click here!</span>
                                <input type="file" id="file_input2" hidden>
                                <img src="/asset/images/default.jpg" id="img2" class="upload-img">
                            </div>
                            <div class="image-upload-one" id="custom_upload3">
                                <span>Click here!</span>
                                <input type="file" id="file_input3" hidden>
                                <img src="/asset/images/default.jpg" id="img3" class="upload-img">
                            </div>
                            <div class="image-upload-one" id="custom_upload4">
                                <span>Click here!</span>
                                <input type="file" id="file_input4" hidden>
                                <img src="/asset/images/default.jpg" id="img4" class="upload-img">
                            </div>
                        </div>
                    </div>

                    <div class="text-part">
                        <div class="text-part-one">
                            <label for="title">Title</label>
                            <input type="text" id="title" name="title" placeholder="Title..">
                        </div>
                        <div class="text-part-one">
                            <label for="cost">Cost</label>
                            <input type="number" id="cost" name="cost" placeholder="Cost..">
                        </div>
                        <div class="text-part-one">
                            <label for="category">Category</label>
                            <select id="category" name="category">
                                <option value="">Choose category</option>
                                <option value="Crocs">Crocs</option>
                                <option value="Sandals">Sandals</option>
                                <option value="Boots">Boots</option>
                                <option value="Sneakers">Sneakers</option>
                                <option value="Ugg Boots">Ugg Boots</option>
                                <option value="Slippers">Slippers</option>
                                <option value="Flip Flops">Flip Flops</option>
                                <option value="Moccasins">Moccasins</option>
                                <option value="Earth Shoes">Earth Shoes</option>
                                <option value="Snow Boots">Snow Boots</option>
                                <option value="Derby">Derby</option>
                                <option value="Pumps">Pumps</option>
                            </select>
                        </div>
                        <div class="text-part-one">
                            <label for="detail">Detail</label>
                            <textarea name="detail" id="detail" placeholder="Product detail"></textarea>
                        </div>
                        <input type="submit" value="Add item">
                    </div>


                </form>
            </div>
        </div>

    </div>



    <!----------------------------------footer------------------------------------->
    <div class="footer">
        <div class="container">

            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="/images/play-store.png" alt="">
                        <img src="/images/app-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="/images/logo-white.png">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>

            </div>

            <hr>
            <!--horizontal line-->
            <p class="copyright">Copyright 2021 - Apurba Kr. Pramanik</p>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <script src='/js/admin.js'></script>
    <script src='/js/pagination/orderPagination.js'></script>

</body>

</html>