
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0px;
}

.pagination ul {
    list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination ul li {
    color: #fff;
    display: flex;
}

.pagination ul li a {
    background-color: #444B6E;
      padding: 5px 10px;
      border: 2px solid #3D315B;
      border-right: 0;
      color: white;
      cursor: pointer;
}

.pagination li .previous, .next {
    animation: fadein .5s;
}

.pagination li .active a {
    background-color: #9AB87A;
}

.pagination li:first-child a {
    border-radius: 5px 0 0 5px;
}

.pagination li:last-child a {
    border-radius: 0 5px 5px 0;
    border-right: 2px solid #3D315B;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}